@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002f6c;
    color: #FFFFFF;
    font-weight: bolder;
    box-shadow: 0 8px 4px 0 rgba(0,0,0,.2);
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items > li {
    padding: 10px;
}

.nav-logo {
    width: 54px;
    padding: 0 0 0 16px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.content {
    margin-bottom: 100%;
    padding-left: 16px;
    min-height: 50vh;
}

.page-footer {
    min-height: 25vh;
    background-color: #62757f;
    margin-bottom: 0;
    align-self: flex-end;
    color: #FFFFFF;
}